.albums-list-item {
  display: flex;
  align-items: center;
  padding: 0.5em 0;

  font-size: 0.8rem;
}

.albums-list-item .icon {
  height: 14px;
  opacity: 0.5;
}
.albums-list-item .icon div { height: 14px; }

.albums-list-item a {
  max-width: 13em;
  margin: 0 0.8em;


  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.albums-list-item span {
  margin-left: auto;
  padding: 0.2em;
  font-weight: 300;
  opacity: 0.5;
}
