.image-preview {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: #282828;
  overflow: hidden;
  user-select: none;
}

.image-preview > img {
  max-width: 100%;
  max-height: 100%;
}

.image-preview-header {
  position: absolute;
  top: 0;
  left: 0; right: 0;
  display: flex;
  align-items: center;
  padding: 0.5em;

  background: #1c1c1c;
  color: #f3f3f3;
  opacity: 0.7;
}

.image-preview-header svg {
  height: 1.4em;
  width: 1.4em;
}

.image-preview-header path {
  fill: #f3f3f3;
  opacity: 0.7;
}

.image-preview-header a {
  margin-right: 1em;
}

.image-preview-header p {
  margin: 0 auto;
  font-weight: 600;
}

.image-preview-close {
  margin-right: none;
}

.image-preview-slides {
  position: absolute;
  bottom: 0;
  left: 0; right: 0;
  display: flex;
  align-items: center;
  padding: 0.5em;
  overflow: auto;

  background: #1c1c1c;
  color: #f3f3f3;
}

.image-preview-slides a {
  display: block;
  border: 1px solid transparent;
}
.image-preview-slides a.active {
  border: 1px solid #1ea7c9;
}

.image-preview-cell {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.5em;
  opacity: 0.7;
}

.image-preview-cell img {
  height: 100px;
  margin-bottom: 0.5em;
}

.image-preview-nav-link {
  position: absolute;
  top: 50%;
  padding: 5px;
  transform: translate(0, -50%);
  z-index: 10;
}

.image-preview-nav-link svg {
  height: 40px;
  width: 50px;
}

.image-preview-nav-link path {
  fill: #f3f3f3;
  opacity: 0.7;
}

.image-preview-nav-link.prev { left: 2em; }
.image-preview-nav-link.next { right: 2em; }

.image-preview-exif-data {
  position: absolute;
  right: 0; top: 2.5em;
  padding: 2em;
  z-index: 10;

  background: #1c1c1c;
  color: #f3f3f3;
  opacity: 0.7;
}

.image-preview-exif-data li {
  display: flex;
  justify-content: space-between;
}

.image-preview-exif-data em {
  margin-right: 1em;
  font-style: normal;
  font-weight: 600;
}
